body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    background-color: #000;
    background-image: url("img/bckgr-index.jpg");
    background-position: top center;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].vsually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-space: nowrap;

    clip-path: rect(0 0 0 0);
    overflow: hidden;
}

/* Общие стили внутренних страниц */
.inner-page {
    color: #000;

    background-color: #f9f6f3;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.inner-page .user-navigation {
    margin-left: auto;
}

.inner-page .main-header {
    margin-bottom: 50px;

    background-color: #000;
}

.inner-page .main-header-logo {
    order: 0;

    width: 111px;
    padding: 23px 20px;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}


/* // */

.button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;

    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000;
}

/* Блок навигации */
.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;


    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.main-header-logo {
    order: 2;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
    background-color: #000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
}

.site-navigation,
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-navigation {
    display: flex;
    max-width: 140px;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 25px 20px;


    color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

/* Преимущества */

.features {
    margin-bottom: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.features-item {
    width: 300px;

    text-align: center;
}

.features-item h3 {
    position: relative;

    margin: 0px;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;
}

.features-item h3::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #fff;

    transform: rotate(45deg);
}

.features-item p {
    margin: 0 10px;
}

/* Контент */

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000;

    background-color: #f8f5f2;
    background-image:
        url("img/line.png"),
        url("img/pattern-light.jpg");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

/* Новости */

.news {
    width: 380px;
}

.news-list {
    margin: 0px;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;

}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-decoration: none;
}

/* Фотогалерея */

.gallery {
    width: 300px;
}

.gallery-container {
    position: relative;

    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0px;

    background-color: #ccc;
    border: 7px solid #fff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;

    width: 140px;
    margin: 0px;
}

.gallery-button-back {
    left: 0px;
}

.gallery-button-next {
    right: 0px;
}

/* Контактная информация */

.contacts {
    width: 380px;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

/* Форма "записаться" */

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0px;
    margin-bottom: 15px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0px;
    margin-bottom: 10px;
}

.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-item input {
    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;

    font: inherit;

    background-color: transparent;
    border: 2px solid #000;
}

.appointment-item input:focus {
    border-color: #663d15;
    outline: none;
}

.appointment .button {
    width: 100%;
    margin-top: 10px;
    margin-right: 0px;
}

/* Общие стили для внутренних страниц */

.page-title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}

/* Хлебные крошки */
.breadcrumbs {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.breadcrumbs a {

    color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

/* КАТАЛОГ */
.catalog-columns {
    display: flex;
    justify-content: space-between;
}

/* Фильтры */

.filters {
    width: 180px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover+label,
.filter-input:focus+label {
    color: #663d15;
}

.filter-input:disabled+label {
    color: #000;

    opacity: 0.5;
}

/* Каталог товаров */

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

/* Карточка товара */
.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
    color: #000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.catalog-item-price .button {
    line-height: 20px;
    color: #fff;
}

/* Пагинация */
.pagination-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.pagination-list a {
    color: #fff;

    background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000;

    background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000;

    background-color: #fff;
}

/* Карточка товара */
.product-photos {
    width: 460px;
}

.product-photo-preview {
    list-style: none;
}

.product-photo-preview li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-info {
    width: 390px;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.product-price b {
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}


/* Подвал */

.main-footer {
    padding: 60px 0;
    margin-top: 65px;
    color: #fff;

    background-color: #212121;
    background-image: url("img/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-footer {
    margin-top: 45px;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}


.footer-contacts a {
    color: #fff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;
    text-align: center;
}

.footer-social ul {
    display: flex;
    width: 141px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    margin: 0 auto;
    padding: 0;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/social-icons.png);
    width: 43px;
    height: 43px;
    font-size: 14px;
}

.vkontakte: {
    background-position: 0 43px;
}

.vkontakte:hover {
    background-position: 0 43px;
}

.facebook {
    background-position: -43px 0;
}

.facebook:hover {
    background-position: -43px 43px;
}

.instagram {
    background-position: -86px 0;
}

.instagram:hover {
    background-position: -86px 43px;
}



.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    text-align: center;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000;

    background-color: #fff;
}

.modal {
    color: #000;

    background-color: #f8f3f0;
    background-image: url("img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.user-form input[type="text"],
.user-form input[type="password"] {
    font: inherit;
    outline: none;
    color: #000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.user-password-restore {
    color: #000;
    text-decoration: underline;
}

.user-password-restore:hover,
.user-password-restore:focus {
    text-decoration: none;
}